*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #6cf;
}
.container{
    height: 480px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 2px solid grey;
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color: #08038C;
}
.question{
    padding: 20px;
    font-size: 20px;
    background-color:#08038C ;
    color: white;
}
.option{
    width: 480px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0px 10px 10px;
    border-radius: 20px;
}
.option:hover{
    background-color:#08038C ;
    color: #f6f6f6;
}
.next-btn{
    background: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    float: right;
    margin: 10px;
}
.next-btn:hover{
    background-color:#08038C ;
    color: #f6f6f6;
}
.result{
    height: 100px;
    text-align: center;
    font-size: 75px;
}
.option input:checked .option{
    background-color:#08038C ;
    color: white;
}
#timer{
    /* border: 2px solid ghostwhite; */
    background: #6cf;
    padding: 10px;
    margin-top: 20px;
    width: 15%;
    border-radius: 25px;
    text-align: center;
    /* border: 2px solid red; */
}
.restart-btn{
    background: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    float: right;
    margin: 10px;
}

@media screen and (max-width:900px) {
    .container {
        width: 100%;
    }
    .option{
        width: 100%;
    }
    #timer{
        width: 100%;
        text-align: center;
        display: block !important;
        /* border: 2px solid red; */
        margin-top: 120px;
    }
    .restart-btn{
        width: 100%;
    }
    .next-btn{
        display: block;
        width: 100%;
    }
}
